.cardContainer {
  width: 200px;
  min-height: 150px;
  padding: 0.75rem;
  margin: 0.5rem;

  background-color: rgba(227, 213, 84, 0.467);
  color: #222;
  font-size: 0.95rem;
  border-radius: 10px;

  backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

  transition: all 0.2s ease;
}

.cardContainer:hover {
  background-color: rgba(229, 241, 7, 0.784);
  transform: scale(1.01);
}

.likeButton,
.deleteButton {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  line-height: 1;
  color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.likeButton:hover,
.deleteButton:hover {
  transform: scale(1.1);
}

.likeCount {
  margin-right: 0.5rem;
}

.likeButton {
  margin-right: 2rem;
}