label {
  margin-right: 0.5em; /* add Horizontal space */
}

input.error {
  outline: 2px solid #ff4444;  /* Red outline */
  /* border-color: #ff4444; */
}

.error {
  color: #ff4444;
}

.char-count {
  color: #666;
}