label {
  margin-right: 0.5em;
  /* add Horizontal space */
}

.error {
  color: #ff4444;
}

.char-count {
  color: #666;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-row label {
  width: 100px;
  font-weight: bold;
  color: rgba(255, 255, 100);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.form-row input,
.form-row select {
  flex: 1;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid rgb(101, 101, 100);
}

.form-row input:focus,
.form-row select:focus {
  outline: 2px solid rgba(255, 255, 100);
}

.form-row input.error,
.form-row input.error:focus {
  border: 2px solid #d9534f !important;
  outline: 2px solid #d9534f !important;
  box-shadow: 0 0 4px rgba(217, 83, 79, 0.6);
}


